
.edit-header {
  margin-top: 25px;
  color: #1c626b;
}

.edit-header > h1 {
  font-size: 35px;
  margin-bottom: 5px;
}

.edit-header-name {
  font-size: 40px;
}

.edit-form-container {
  display: flex;
  flex-direction: column;
  width: 65vw;
  background-color: #52f0fc;
  border-radius: 25px;
  margin-top: 7px;
  margin-bottom: 8%;
}

.task-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 25px;
  color: #1c626b;
  background-color: rgb(224, 224, 224);
  border: 2px solid #52f0fc;
}

.task-form > label {
  font-size: 18px;
  margin: 15px 0px;
  font-weight: bold;
}
.task-form > button {
  margin-top: 25px;
  width: 150px;
  padding: 15px;
  align-self: center;
  border-radius: 10px;
  border: 2px solid #52f0fc;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #1c626b;
}

.task-form > input {
  padding: 10px;
  border-radius: 7px;
  border: solid 2px 52f0fc;
  font-size: 16px;
  color: #1c626b;
  border: 2px solid #52f0fc;
}

.details-input {
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.task-form > button:hover {
  background-color: white;
  color: #52f0fc;
}
