.category-btn-container > button {
  padding: 12px;
  border-radius: 3px;
  margin: 15px;
  background-color: rgb(224, 224, 224);
  cursor: pointer;
  font-weight: 800;
  color: #1c626b;
  font-size: 18px;
  border: 2px solid #52f0fc;
}



